<template>
    <el-row>
        <el-col :span="6" v-for="album in allAlbums" :key="album.id" >
            <card-component :title="album.title"
                            :preview="album.preview"
                            :time="album.updated_at"
                            @click="openAlbum(album.id)"
            />
        </el-col>
    </el-row>
</template>

<script>
    export default {
        computed: {
            allAlbums() {
                return this.$store.state.albums;
            }
        },
        methods: {
            getAlbumPage(id) {
                return '/album/' + id;
            },
            openAlbum(id) {
                this.$router.push(this.getAlbumPage(id));
            }
        }
    }
</script>

<style scoped>

</style>