<template>
    <el-row>
        <el-col :span="24">
            <photo-form-component :id="id"/>
            <el-col :span="6" v-for="photo in album.photos" :key="photo.id" >
                <card-component :title="photo.title"
                                :preview="photo.cached_url"
                                :time="photo.updated_at"
                                @click="updateModal(photo.id)"
                />
            </el-col>
        </el-col>

        <div class="modal" :style="modal_style">
            <span class="close" @click="closeModal">&times;</span>
            <img class="modal-content" :src="image">
            <div class="caption">{{text}}</div>
        </div>


    </el-row>
</template>

<script>
    export default {
        data() {
            return {
                id: this.$route.params.id,
                centerDialogVisible: false,
                image: '',
                text: '',
                active: false
            }
        },
        computed: {
            album() {
                return this.$store.getters.getAlbumById(this.id);
            },
            modal_style() {
                return {
                    display: this.active ? 'block' : 'none'
                }
            }
        },
        methods: {
            updateModal(imageId) {
                const photo = this.album.photos.find(a => a.id === imageId);

                this.active = true;
                this.text = photo.title;
                this.image = photo.preview_url;
            },
            closeModal() {
                this.active = false;
                this.image = '';
                this.text = '';
            }
        }
    }
</script>

<style scoped>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    .caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
</style>