<template>
    <el-card :body-style="{padding: '0px'}" shadow="hover">
        <img :src="preview" class="image" @click="$emit('click')">
        <div class="album-card-body">
            <span>{{title}}</span>
            <div class="bottom clearfix">
                <time class="time">{{ time }}</time>
            </div>
        </div>
    </el-card>
</template>

<script>
    export default {
        props: ['title', 'preview', 'time', 'id'],
    }
</script>

<style scoped>
    .album-card-body {
        padding: 14px;
    }

    .time {
        font-size: 13px;
        color: #999;
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .image {
        width: 100%;
        height: 100%;
        display: block;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>