<template>
    <el-menu :default-active='active' mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">Albums</el-menu-item>
    </el-menu>
</template>

<script>
    export default {
        methods: {
            handleSelect: function(key, keyPath) {
                if (key === '1') {
                    this.$router.push('/');
                }
            }
        },
        computed: {
            active() {
                return this.$route.fullPath === '/' ? '1' : '';
            }
        }
    }
</script>

<style scoped>

</style>
