<template>
    <div>
        <el-row>
            <el-col :span="24">
                <add-album-component/>
                <albums-component/>
            </el-col>
        </el-row>
    </div>
</template>

<script>


    export default {
        methods: {

        },
    }
</script>

<style scoped>

</style>
