<template>
    <el-row>
        <el-form :inline="true" :model="photo" class="demo-form-inline">
            <el-col :span="10">
                <el-form-item>
                    <el-input v-model="photo.title" placeholder="Some title"/>
                </el-form-item>
            </el-col>

            <el-col :span="10">
                <el-upload
                        ref="upload"
                        :limit="limit"
                        accept="image/*"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :auto-upload="false">
                    <el-button slot="trigger" type="primary">select file</el-button>
                </el-upload>
            </el-col>

            <el-col :span="4">
                <el-form-item>
                    <el-button type="success" @click="onSubmit">Add photo</el-button>
                </el-form-item>
            </el-col>
        </el-form>
    </el-row>
</template>

<script>
    export default {
        props:['id'],
        data() {
            return {
                photo: {
                    title: '',
                    album_id: this.id,
                },
                limit: 1
            }
        },
        methods: {
            onSubmit() {
                const photoData = new FormData();
                photoData.append('title', this.photo.title);
                photoData.append('album_id', this.photo.album_id);
                photoData.append('image', this.$refs.upload.uploadFiles[0].raw);

                this.$store.dispatch('postPhoto', photoData).then(() => {
                    this.clearForm();
                });
            },
            clearForm() {
                this.photo = {
                    title: '',
                    album_id: this.id,
                };

                this.$refs.upload.clearFiles();
            },
        }
    }
</script>

<style scoped>

</style>