<template>
    <el-container>
        <el-header>
            <header-component/>
        </el-header>

        <el-main>
            <div v-if="loading"><img src="https://zippy.gfycat.com/SkinnySeveralAsianlion.gif" width="300" height="300"></div>
            <router-view v-else/>
        </el-main>

        <el-footer class="footer">
            <footer-component/>
        </el-footer>
    </el-container>
</template>

<script>
    export default {
        data() {
            return {
                loading: true
            }
        },
        created: function() {
            this.$store.dispatch('loadAlbums').then(() => {
                this.loading = false;
            });
        }
    }
</script>

<style scoped>

</style>
